/* mobile by default */

body {
  padding-top: 1.6rem;
}

.grid-2cols,
.grid-3cols,
.grid-4cols,
.grid-6cols,
.grid-1col,
header,
footer {
  margin: 0rem 1.6rem 1.6rem 1.6rem;
  padding: 0rem 0rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1.6rem;
  grid-column-gap: 1.6rem;
}

.grid-2cols.centered,
.grid-3cols.centered,
.grid-4cols.centered,
.grid-6cols.centered,
.grid-1col.centered,
header.centered,
footer.centered {
  margin: 0rem 0rem 1.6rem 0rem;
  width: 100%;
}

.grid-2cols > * {
  /* background-color: aquamarine; */
  grid-column: span 2;
}

.grid-3cols > * {
  /* background-color: aquamarine; */
  grid-column: span 4;
}

.grid-4cols > * {
  /* background-color: aquamarine; */
  grid-column: span 2;
}

.grid-6cols > * {
  /* background-color: aquamarine; */
  grid-column: span 4;
}

.grid-1col > * {
  /* background-color: aquamarine; */
  grid-column: span 4;
}

header > *,
footer > * {
  /* background-color: aquamarine; */
  grid-column: span 4;
}

header,
footer {
  margin-bottom: 1.6rem;
  /* background-color: aquamarine; */
  grid-column: span 4;
}

@media only screen and (min-width: 400px) {
  body {
    padding-top: 2.4rem;
  }

  .grid-2cols,
  .grid-3cols,
  .grid-4cols,
  .grid-6cols,
  .grid-1col,
  header,
  footer {
    margin: 0rem 2.4rem 2.4rem 2.4rem;
    padding: 0rem 0rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 0rem;
    grid-column-gap: 2.4rem;
  }

  .grid-2cols.centered,
  .grid-3cols.centered,
  .grid-4cols.centered,
  .grid-6cols.centered,
  .grid-1col.centered,
  header.centered,
  footer.centered {
    margin: 0rem auto 2.4rem auto;
    width: calc(1248px - 4.8rem);
  }

  .grid-2cols > * {
    /* background-color: aquamarine; */
    grid-column: span 6;
  }

  .grid-3cols > * {
    /* background-color: aquamarine; */
    grid-column: span 4;
  }

  .grid-4cols > * {
    /* background-color: aquamarine; */
    grid-column: span 3;
  }

  .grid-6cols > * {
    /* background-color: aquamarine; */
    grid-column: span 2;
  }

  .grid-1col > * {
    /* background-color: aquamarine; */
    grid-column: span 12;
  }

  header > *,
  footer > * {
    /* background-color: aquamarine; */
    grid-column: span 12;
  }

  header,
  footer {
    margin-bottom: 2.4rem;
    /* background-color: aquamarine; */
    grid-column: span 12;
  }
}
