a {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  color: #ababab;
  text-decoration-color: #ababab;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.5rem;
}

a:hover {
  color: #f7f7f7;
  text-decoration-color: #f7f7f7;
}
