* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1.5rem 0 0 0;
  padding: 0;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  color: #ababab;
}

p {
  max-width: 40rem;
}

ul {
  margin: 1.5rem 0 0 0;
  padding: 0;
  list-style: none;
}

ul.horizontal {
  display: flex;
  gap: 1.5rem;
  margin: 1rem 0 0 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0.75rem 0 0 0;
  padding: 0;
}
